.jblock
    &__wrap
        padding-bottom: 60px
    &__title
        @extend %title-middle
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 60px
        &_align-left
            align-items: flex-start
            text-align: left
        &:after
            content: ''
            display: block
            height: 4px
            max-width: 150px
            width: 100%
            background: $jcolor-accent
            margin-top: 20px
    &__title_white
        color: $jcolor-white !important
        &:after
            background: $jcolor-white !important
    &__title_only
        font-size: 2.5rem
        line-height: 3rem
        padding-top: 60px
        padding-bottom: 60px
        &:after
            content: none
    &__content
        padding-top: 60px
        font-size: 14px
        letter-spacing: .5px
        line-height: 24px
