.jtitle
    position: relative
    &__wrap
        height: 200px
        width: 100%
        background-position: center 45%
        background-repeat: no-repeat
        background-size: cover
        display: flex
        justify-content: center
        align-items: center
    &:before
        content: ''
        display: block
        height: 100%
        width: 100%
        background: rgba(0,0,0,.7)
        //background: linear-gradient($jcolor-primary, $jcolor-accent)
        //opacity: .6
        position: absolute
        top: 0
        left: 0
    &__title
        @extend %title-high
        //color: rgba(255,255,255,.8)
        color: $jcolor-white
        //opacity: .5
        z-index: 1
        text-align: center
